{% extends 'base.html.twig' %}

{% block body %}
	<h2>Finalizando sua compra</h2>

	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
		{{ form_errors(form) }}

		<div class="form-group col-sm-5">
			{{ form_label(form.name, 'Nome') }}
	        {{ form_errors(form.name, {'attr': {'class': 'form-error'}}) }}
	        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group col-sm-2">
			{{ form_label(form.cpf, 'CPF (apenas dígitos)') }}
	        {{ form_errors(form.cpf) }}
	        {{ form_widget(form.cpf, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group col-sm-5">
			{{ form_label(form.email, 'Email') }}
	        {{ form_errors(form.email) }}
	        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group col-sm-5">
			{{ form_label(form.addressStreet, 'Rua') }}
	        {{ form_errors(form.addressStreet) }}
	        {{ form_widget(form.addressStreet, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group col-sm-2">
			{{ form_label(form.addressNumber, 'Número') }}
	        {{ form_errors(form.addressNumber) }}
	        {{ form_widget(form.addressNumber, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group col-sm-5">
			{{ form_label(form.addressCep, 'CEP (apenas dígitos)') }}
	        {{ form_errors(form.addressCep) }}
	        {{ form_widget(form.addressCep, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group col-sm-4">
			{{ form_label(form.addressNeighborhood, 'Bairro') }}
	        {{ form_errors(form.addressNeighborhood) }}
	        {{ form_widget(form.addressNeighborhood, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group col-sm-4">
			{{ form_label(form.addressCity, 'Cidade') }}
	        {{ form_errors(form.addressCity) }}
	        {{ form_widget(form.addressCity, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group col-sm-4">
			{{ form_label(form.addressState, 'Estado') }}
	        {{ form_errors(form.addressState) }}
	        {{ form_widget(form.addressState, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group col-sm-6">
			{{ form_label(form.value, 'Valor') }}
	        {{ form_errors(form.value) }}
	        {{ form_widget(form.value, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group  col-sm-6">
			{{ form_label(form.installments, 'Número de parcelas') }}
	        {{ form_errors(form.installments) }}
	        {{ form_widget(form.installments, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group col-sm-12">
	        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success', 'style': 'width:100%;font-size:20px'}, 'label': 'Enviar'}) }}
	    </div>
	{{ form_end(form) }}
{% endblock %}