{% extends 'base.html.twig' %}

{% block body %}
    <h1>Carrinho de compras</h1>

    <div class="well well-sm" style="text-align:right">
        <a class="btn btn-default" href="{{ path('app_cart_clear') }}" role="button">Limpar carrinho</a>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Subtotal</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% set total = 0 %}

            {% for id, product in products %}
                <tr>
                    <td><img style="width:100px" src="{{ asset('/fixtures/products/'~product.image) }}"><span style="margin-left:20px">{{ product.name }}</span></td>
                    <td style="padding-top:47px">{{ product.quantity }}</td>
                    <td style="padding-top:47px">{{ product.price|number_format(2, ',', '.') }}</td>
                    <td style="padding-top:47px">{{ (product.quantity * product.price)|number_format(2, ',', '.') }}</td>
                    <td style="padding-top:47px">
                        <a class="btn btn-default btn-xs" href="{{ path('app_cart_remove', {'product': id}) }}" role="button">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remover
                        </a>
                    </td>
                </tr>

                {% set total = total + product.quantity * product.price %}
            {% else %}
                <tr>
                    <td colspan="5">Não há itens no seu carrinho.</td>
                </tr>
            {% endfor %}

            {% if products|length > 0 %}
                <tr>
                    <td colspan="3"><b>Total</b></td>
                    <td><b>R$ {{ total|number_format(2, ',', '.') }}</b></td>
                    <td><b>ou 10x R$ {{ (total/10)|number_format(2, ',', '.') }}</b></td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {% if products|length > 0 %}
        <a href="{{ path('app_cart_checkout') }}" class="btn btn-success" role="button" style="width:100%;font-size:20px">
            Finalizar compra
        </a>
    {% endif %}
{% endblock %}