{% extends 'base.html.twig' %}

{% block body %}

	<h1>{{ category.name }}</h1>

	{% if category.children|length > 0 %}
		<h2>Subcategorias</h2>
	{% endif %}

	<div class="row">
		{% for category in category.children %}
			<div class="col-xs-6 col-sm-3 category-box" >
				<a href="{{ path('app_category_index', {'id': category.id}) }}">{{ category.name }}</a>
			</div>
		{% endfor %}
	</div>

	{% if category.products|length > 0 %}
		<h2>Produtos</h2>
	{% endif %}

	<div class="row">
        {% for product in category.products %}
            <div class="col-xs-6 col-md-3">
                <a href="{{ path('app_product_index', {'id':product.id}) }}">
                    <div class="product-box-image-container">
                        <img src="{{ asset('/fixtures/products/'~product.images[0].name) }}" class="product-box-image">
                    </div>

                    <div>
                        {{ product.name }}
                    </div>

                    <div>
                        <b>R$ {{ product.price|number_format(2, ',', '.') }} ou 10x R${{ (product.price/10)|number_format(2, ',', '.') }}</b>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}