<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}SF2 Store{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <style type="text/css">
            .dropdown-submenu {
                position:relative;
            }

            .dropdown-submenu>.dropdown-menu {
                top:0;
                left:100%;
                margin-top:-6px;
                margin-left:-1px;
                -webkit-border-radius:0 6px 6px 6px;
                -moz-border-radius:0 6px 6px 6px;
                border-radius:0 6px 6px 6px;
            }

            .dropdown-submenu:hover>.dropdown-menu {
                display:block;
            }

            .dropdown-submenu>a:after {
                display:block;
                content:" ";
                float:right;
                width:0;
                height:0;
                border-color:transparent;
                border-style:solid;
                border-width:5px 0 5px 5px;
                border-left-color:#cccccc;
                margin-top:5px;
                margin-right:-10px;
            }

            .dropdown-submenu:hover>a:after {
                border-left-color:#ffffff;
            }

            .dropdown-submenu.pull-left {
                float:none;
            }

            .dropdown-submenu.pull-left>.dropdown-menu {
                left:-100%;
                margin-left:10px;
                -webkit-border-radius:6px 0 6px 6px;
                -moz-border-radius:6px 0 6px 6px;
                border-radius:6px 0 6px 6px;
            }

            .dropdown:hover > .dropdown-menu {
                display: block;
                margin-top: 0; // remove the gap so it doesn't close
             }

             .carousel-caption {
                color: #000;
                text-shadow: none !important;
             }

             body { 
                padding-top: 70px; 
            }

            .product-box-image-container {
                min-height: 250px;
            }

            .product-box-image {
                width: 250px;
                max-height: 250px;
            }

            a:hover {
                text-decoration: none;;
            }

            .see-more {
                padding:    10px;
                text-align: center;
                background: #f8f8f8;
                margin:     10px 0;
            }

            .footer {
                background-color:   #f8f8f8;
                padding:            20px 0;
                text-align:         center;
                margin-top:         50px;
            }

            .category-box {
                text-align: center;
                font-size: 40px;
            }

            .category-box a {
                width:              270px;
                display:            block;
                background-color:   #f8f8f8;
                padding: 30px 0;
            }

            .form-group > ul {
                list-style: none;
                font-size: 12px;
                color: red;
                padding-left: 0;
            }
        </style>

        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="colapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div>
                        <img src="{{ asset('logo.png') }}" style="width:50px; float: left">
                        <a class="navbar-brand" href="{{ path('app_index_index') }}">SF2 Store</a>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {{ render (controller('AppBundle:Includes:mainMenuLi')) }}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form class="navbar-form navbar-left" action="{{ path('app_search_index') }}">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Pesquisar" name="search">
                                </div>

                                <button type="submit" class="btn btn-default">Buscar</button>
                            </form>
                        </li>

                        <li>
                            <button type="button" class="btn btn-default" style="margin: 8px 50px 0 0" data-toggle="modal" data-target="#cart-modal" data-backdrop="false">
                                <span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                            </button>

                            <div id="cart-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                            <h4 class="modal-title" id="cartModalLabel">Carrinho de Compras</h4>
                                        </div>

                                        <div class="modal-body">
                                            <table class="table table-striped table-hover">
                                                <tbody>
                                                    {% for product in app.session.get('products') %}
                                                        <tr>
                                                            <td>
                                                                <img style="width:50px" src="{{ asset('/fixtures/products/'~product.image) }}">
                                                            </td>
                                                            <td style="padding-top:22px">{{ product.name }}</td>
                                                            <td style="padding-top:22px">{{ product.quantity }}</td>
                                                        </tr>
                                                    {% else %}
                                                        <tr>
                                                            <td colspan="3">Não há itens no seu carrinho.</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                            <a href="{{ path('app_cart_index') }}" type="button" class="btn btn-success">Ir para o carrinho</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-muted">SF2 Store - Aqui você encontra o que faltava na sua casa!</p>
            </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script type="text/javascript">
            $(function(){
                $('.dropdown a').click(function(){
                    window.location.href = this.href;
                });

                //$('#cart-modal').modal();

                //var url = window.location;

                // Will only work if string in href matches with location
                //$('ul.nav a[href="'+ url +'"]').parent().addClass('active');

                // Will also work for relative and absolute hrefs
                //$('ul.nav a').filter(function() {
                //    return this.href == url;
                //}).parent().addClass('active');
            });
        </script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
