{% extends 'base.html.twig' %}

{% block body %}
	<div id="carousel" class="carousel slide" data-ride="carousel">
  		<!-- Indicators -->
  		<ol class="carousel-indicators">
    		<li data-target="#carousel" data-slide-to="0" class="active"></li>
    		<li data-target="#carousel" data-slide-to="1"></li>
    		<li data-target="#carousel" data-slide-to="2"></li>
    		<li data-target="#carousel" data-slide-to="3"></li>
  		</ol>

  		<!-- Wrapper for slides -->
  		<div class="carousel-inner" role="listbox">
    		<div class="item active">
      			<img src="{{ asset('/carousel/carousel-imoveis.jpg') }}" alt="Móveis">
      			<div class="carousel-caption">
				    <h3>SF2 Store</h3>
				    <p>Aqui você encontra o que faltava na sua casa!</p>
				</div>
    		</div>

    		<div class="item">
      			<img src="{{ asset('/carousel/carousel-sala-de-estar.jpg') }}" alt="Sala de Estar">
      			<div class="carousel-caption">
				    <h3>SF2 Store</h3>
				    <p>Aqui você encontra o que faltava na sua casa!</p>
				</div>
    		</div>

    		<div class="item">
      			<img src="{{ asset('/carousel/carousel-sofas.jpg') }}" alt="Sofás">
      			<div class="carousel-caption">
				    <h3>SF2 Store</h3>
				    <p>Aqui você encontra o que faltava na sua casa!</p>
				</div>
    		</div>

    		<div class="item">
      			<img src="{{ asset('/carousel/carousel-mesas-de-centro.jpg') }}" alt="Mesas de Centro">
      			<div class="carousel-caption">
				    <h3>SF2 Store</h3>
				    <p>Aqui você encontra o que faltava na sua casa!</p>
				</div>
    		</div>
  		</div>

  		<!-- Controls -->
  		<a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    		<span class="sr-only">Previous</span>
  		</a>

  		<a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    		<span class="sr-only">Next</span>
  		</a>
	</div>

    {% for category in allCategories %} 
        {% if category.products|length > 0 %}
            <h2>{{ category.name }}</h2></a>
            <div class="row">
                {% for product in category.products|slice(0,4)%}
                    <div class="col-xs-6 col-md-3">
                        <a href="{{ path('app_product_index', {'id':product.id}) }}">
                            <div class="product-box-image-container">
                                <img src="{{ asset('/fixtures/products/'~product.images[0].name) }}" class="product-box-image">
                            </div>

                            <div>
                                {{ product.name }}
                            </div>

                            <div>
                                <b>R$ {{ product.price|number_format(2, ',', '.') }} ou 10x R${{ (product.price/10)|number_format(2, ',', '.') }}</b>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-12 see-more">
                    <a href="{{ path('app_category_index', {'id': category.id}) }}">Ver mais produtos desta categoria</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}  

    {#
	<ul>
		{% include "includes/index-menu.html.twig" with {'categories':categories} only %}
	</ul>

	{% include "includes/categories-list.html.twig" with {'categories':categories} only %}
    #}
{% endblock %}