{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
  		<div class="col-xs-7">
  			<div>
  				<img src="{{ asset('/fixtures/products/'~product.images[0].name) }}" style="width: 650px" class="product-image">
  			</div>

  			<div>
  				{% for image in product.images %}
  					<img src="{{ asset('/fixtures/products/'~image.name) }}" style="width: 100px" class="product-thumb img-thumbnail">
  				{% endfor %}
  			</div>
  		</div>
  		
  		<div class="col-xs-5">
  			<div class="breadcrumb">
  				{% include "includes/breadcrumb.html.twig" with { 'category': product.categories[0] } only %}
  			</div>

  			<h3>{{ product.name }}</h3>
  			<div>
  				{{ product.description }}
  			</div>
  			<hr>
  			<h4>APENAS R$ {{ product.price|number_format(2, ',', '.') }}</h4>
  			ou <b>10x R$ {{ (product.price/10)|number_format(2, ',', '.') }}</b>

  			<div>
  				<br>
  				<div class="form-group">
  					<form class="form-inline" action="{{ path('app_cart_add') }}">
  						<label for="quantity">Quantidade</label>
                        <input type="hidden" name="product" value="{{ product.id }}">
  						<input type="text" class="form-control" id="quantity" name="quantity" style="width:50px" value="1">
  						<button type="submit" class="btn btn-success" style="width:320px">Adicionar ao carrinho</button>
  					</form>
  				</div>
  			</div>
  		</div>
	</div>

	<div class="row">
		<hr>
		<h4>Especificações técnicas</h4>
		<div class="col-xs-12 features-div">
			{{ product.features | raw}}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$(function(){
			$('.product-thumb').click(function(){
				$('.product-image').attr('src', $(this).attr('src'));
			});

      $('.features-div > table').addClass('table table-striped table-hover');
		});
	</script>
{% endblock %}