{% if category.parent.id is defined %}
	{% include "includes/breadcrumb.html.twig" with { 'category': category.parent } only %}
	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
{% endif %}

<a href="{{ path('app_category_index', { 'id': category.id }) }}">
	{{ category.name }}
</a>