{% for category in categories %}
    <div>
        <a href="{{ path('app_category_index', {'id': category.id}) }}">{{ category.name }}</a>
        {% if category.children %}
            <div>
                {% include "includes/categories-list.html.twig" with {'categories': category.children} %}
            </div>
        {% endif %}
    </div>
{% endfor %}