{% for category in categories %}
    <li>
        <a href="{{ path('app_category_index', {'id': category.id}) }}">{{ category.name }}</a>
        {% if category.children %}
            <ul>
                {% include "includes/index-menu.html.twig" with {'categories': category.children} %}
            </ul>
        {% endif %}
    </li>
{% endfor %}