{% for category in categories %}
    {% if category.children|length > 0 and category.parent.id is not defined %}
    	<li class="dropdown">
          	<a href="{{ path('app_category_index', { 'id':category.id }) }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ category.name }} <span class="caret"></span></a>

          	<ul class="dropdown-menu">
	          	{% include "includes/main-menu-li.html.twig" with {'categories': category.children} %}	
          	</ul>
        </li>
    {% elseif category.children|length > 0 and category.parent.id is defined  %}
    	<li class="dropdown-submenu">
          	<a tabindex="-1" href="{{ path('app_category_index', {'id':category.id}) }}">{{ category.name }}</a>

          	<ul class="dropdown-menu">
	          	{% include "includes/main-menu-li.html.twig" with {'categories': category.children} %}	
          	</ul>
        </li>
    {% else %}
    	<li><a href="{{ path('app_category_index', {'id':category.id}) }}">{{ category.name }}</a></li>
    {% endif %}
{% endfor %}