{% extends 'base.html.twig' %}

{% block body %}
    <h1>Resultados para '{{ query }}'</h1>

    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                <a href="{{ path('app_product_index', {'id':product.id}) }}">
                    <div class="product-box-image-container">
                        <img src="{{ asset('/fixtures/products/'~product.images[0].name) }}" class="product-box-image">
                    </div>

                    <div>
                        {{ product.name }}
                    </div>

                    <div>
                        <b>R$ {{ product.price|number_format(2, ',', '.') }} ou 10x R${{ (product.price/10)|number_format(2, ',', '.') }}</b>
                    </div>
                </a>
            </div>
        {% else %}
            Nenhum resultado foi encontrado para a sua busca.
        {% endfor %}
    </div>
{% endblock %}